.page_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 30px auto;   
}

.title_name {
    margin-left: 12px;
    font-size: 25px;
    font-weight: 500;
}