.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.main_left {
  display: flex;
  flex: 0.65;
  background-color: #B8A896;
}

.main_content {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  min-width: 390px;
  height: 100%;
  background-color: #EFEFEF;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}

.main_right {
  display: flex;
  background-color: #B8A896;
  flex: 0.15;
  flex: 0.15;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

