.toggle-container {
  display: flex;
  width: 50%;
  height: 6%;
  margin: 25px 0 20px 40px; /* Top & bottom margin 25px, left margin 25px, no right margin */
  align-items: center;
  background-color: #fff; /* Soft background for contrast */
  border-radius: 10px; /* Rounded edges for modern feel */
}


.toggle-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
}

.toggle-button {
  width: 50px;
  height: 25px;
  background-color: #7A7A7A;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.toggle-button.on {
  background-color: #D81921;
  box-shadow: 0 0 5px rgba(216, 25, 33, 0.6);
}

.toggle-circle {
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.toggle-button.on .toggle-circle {
  transform: translateX(25px);
  background-color: #fff;
}
